.Game-header {
  padding: 20px;
  text-align: center;
  background-color: #222;
  color: white;
}

.Game-logo {
  height: 80px;
  animation-name: Game-logo-spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.Game-header h2 {
  margin: 0;
}

.Game-status {
  margin: 20px auto 0;
  max-width: 80ch;
}

.Game-status .key {
  font-weight: bold;
}

.Game-components {
  margin: 20px auto;
  max-width: 80ch;
}

@keyframes Game-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
